<div class="container-fluid">
  <ul class="rows">
    <li class="row header">
      <span class="col size-3x">Changelist / Build</span>
      <span class="col">Owner</span>
      <span class="col size-3x">Time Started</span>
      <span class="col">State</span>
      <span class="col size-2x">Metrics</span>
      <span class="col size-2x">Build</span>
      <span class="col size-2x">Unit test</span>
      <span class="col size-2x">Functional test</span>
    </li>
    <li ng-repeat="row in rows | filter:query | orderBy:orderProp" class="row {{row.state}}">
      <span toggle-class="class" class="col size-3x"><img src="{{row.icon}}" width="32px"/> {{row.id}}</span>
      <span class="col">{{row.owner}}</span>
      <span class="col size-3x">{{row.timeStarted|date:"MM/dd/yyyy hh:mma"}}</span>
      <span class="col">{{row.state}}</span>
      <span class="col drawable size-2x">
          <svg width="82px" height="16px">
              <rect width="82" height="16px" style="fill:rgba(0,0,0,.4);"/>
              <rect width="{{row.metric.test}}" height="16" style="fill:rgba(0,0,0,.2);"/>
          </svg>
      </span>
      <span class="col drawable size-2x">
          <svg width="82px" height="16px">
              <rect width="82" height="16px" style="fill:rgba(0,0,255,.26);"/>
          </svg>
      </span>
      <span class="col drawable size-2x">
          <svg width="82px" height="16px">
              <rect width="82" height="16px" style="fill:rgba(0,0,0,.26);"/>
          </svg>
      </span>
      <span class="col drawable size-2x"><svg width="82px" height="16px">
          <rect width="82" height="16px" style="fill:rgba(0,0,0,.26);"/>
      </svg></span>
      <div class="charts">
          <div class="chart">
              <h1 class="title">Metrics</h1>
              <svg width="102" height="80">
                  <path d="M15 60 L15 30 L0 30 L30 0 L60 30 L45 30 L45 60 L15 60" style="fill:rgb(208,187,79);stroke-width:1;"/>
                  <text x="18" y="42" class="onimg">{{row.metric.test}}</text>
                  <text x="15" y="76" class="capture">Test</text>
              </svg>
              <svg width="84" height="80">
                  <path d="M27 60 L27 30 L12 30 L42 0 L72 30 L57 30 L57 60 L27 60" style="fill:rgb(208,187,79);stroke-width:1;"/>
                  <text x="30" y="42" class="onimg">{{row.metric.maintainbility}}</text>
                  <text x="2" y="76" class="capture">Maintainbility</text>
              </svg>
              <svg width="102" height="80">
                  <path d="M0 15 L30 15 L30 0 L60 30 L30 55 L30 40 L0 40 L0 15" style="fill:rgb(247,209,88);stroke-width:1;"/>
                  <text x="15" y="34" class="onimg">{{row.metric.security}}</text>
                  <text x="6" y="72" class="capture">Security</text>
              </svg>
              <svg width="84" height="80">
                  <path d="M12 15 L42 15 L42 0 L72 30 L42 55 L42 40 L12 40 L12 15" style="fill:rgb(247,209,88);stroke-width:1;"/>
                  <text x="27" y="34" class="onimg">{{row.metric.workmanship}}</text>
                  <text x="0" y="72" class="capture">Workmanship</text>
              </svg>
          </div>
          <div class="chart">
              <h1 class="title">Build</h1>
              <center>
                  <img src="img/computer-1.svg" alt="debug"/>
                  <img src="img/computer-1.svg" alt="release"/>
                  debug&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;release
                  <h2 class="footer">
                      {{row.build.release|date:"hh:mma MM/dd/yyyy"}}
                  </h2>
              </center>
          </div>
          <div class="chart">
              <h1 class="title">Unit test</h1>
              <div ng-controller="UnitTestCtrl" class="chartjs">
                  <canvas id="pie" class="chart chart-pie chart-xs" data="data" labels="labels"></canvas>
              </div>
              <div class="capital">
                  {{row.unitTest.testPassed}}
                  <br/><span class="sub">tests passed</span>
              </div>
              <div class="covered">
                  &nbsp;&nbsp;&nbsp;
                  <svg width="180px" height="30px">
                      <rect width="145px" height="30px" x="0" y="0" style="fill:rgb(208,187,79);"/>
                      <rect width="35px" height="30px" x="145" y="0" style="fill:rgb(247,209,88);"/>
                      <text x="80" y="16" style="font-size:12pt;color:rgb(0,0,0);">{{row.unitTest.codeCovered}}</text>
                      <text x="56" y="28" class="sub">code covered</text>
                  </svg>
              </div>
          </div>
          <div class="chart">
              <h1 class="title">Functional test</h1>
              <div ng-controller="FunctionalTestCtrl" class="chartjs">
                  <canvas id="pie" class="chart chart-pie chart-xs" data="data" labels="labels"></canvas>
              </div>
              <div class="capital">
                  {{row.functionalTest.testPassed}}
                  <br/><span class="sub">tests passed</span>
              </div>
              <div class="covered">
                  &nbsp;&nbsp;&nbsp;
                  <svg width="180px" height="30px">
                      <rect width="145px" height="30px" x="0" y="0" style="fill:rgb(208,187,79);"/>
                      <rect width="35px" height="30px" x="145" y="0" style="fill:rgb(247,209,88);"/>
                      <text x="80" y="16">{{row.functionalTest.codeCovered}}</text>
                      <text x="56" y="28" class="sub">code covered</text>
                  </svg>
              </div>
          </div>
          <div class="chart noframe">
              <center>
                  <p class="result">Result:</p>
                  <p class="status" ng-if="row.state!=='Complete'">Changes {{row.state}}</p>
                  <div ng-switch="row.state">
                      <div ng-switch-when="Complete">
                          <p class="status">Complete</p>
                          <div class="btn-group open">
                              <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> Deploy to:</a>
                              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Production/li>
                                <li><a href="#">Pre-production</li>
                                <li><a href="#">Test</li>
                                <li class="divider"></li>
                                <li><a href="#">Create new server</li>
                              </ul>
                            </div>
                      </div>
                      <div ng-switch-when="Accepted">
                          <p class="done">Auto merged</p>
                          <a class="btn btn-default" href="#">Merged builds</a>
                      </div>
                      <div ng-switch-when="Rejected">
                          <p class="done">Metric reduction</p>
                         <a class="btn btn-danger" href="#"><i class="fa fa-search icon-search fa-lg"></i> Find issues</a>
                      </div>
                      <div ng-switch-when="Pending">Pending ...</div>
                      <div ng-switch-when="Running">Running ...</div>
                  </div>

              </center>
          </div>
      </div>
    </li>
  </ul>
</div>
<script type="text/javascript">
/*(function(){
  $(".row .span").on("click",function(){
    console.debug($(this).text()+" Clicked");
    $(".row").removeClass("details");
    $(this).parent(".row").addClass("details");
  })
})();*/
</script>
